:root {
    --primary-background: #E5E5E5;      /*light to dark*/
    --secondary-background: #F7F7F7;
    --tertiary-background: #1E1E1F;

    --primary-font-color: #000000;
    --secondary-font-color: #949398;

    --small-space: 0.8em;
    --medium-space: 2em;
    --big-space: 3.5em;

    --medium-font: 1.4em;
    --big-font: 1.5em;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: kanit;
    font-weight: 400;
    font-size: 14px;

}

.card {
    margin: auto;
    max-width: 400px;
}

.card__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--big-space);
}

.headline {
    font-weight: 600;
    font-size: var(--medium-font);
    margin-right: auto;
}

.return {
    text-decoration: none;
    margin-right: auto;
}

.main__headline {
    font-weight: 600;
    font-size: var(--big-font);
    margin-top: var(--medium-space);
    margin-bottom: var(  --small-space);
}

.main__text {
    line-height: 24px;
    }

.wrapper {
    margin-top: var(--medium-space);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.seedword {
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    background: var(--secondary-background);
    border-radius: 100px;
}

.seedphrase__word {
    margin-left: 4px;
}

.seedphrase__number, .main__text {
    color: var( --secondary-font-color);
}